.search {
    display: flex;
    width: 30%;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    font-size: 1.2em;
}

.hide,.show{
    width: 0%;
    margin: 5px;
    margin-left: 25px;
    transition: 2s;
    padding: 10px;
    outline: none;
    border: none;
}
.show{
    width: 300px;
    border: solid 1px black;
    
}