@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap" rel="stylesheet');
.nav-list li:hover{
    border-bottom: 2px solid orange;
}
.nav-list{
    display: flex;
    font-size: 1em;
    align-items: center;
    justify-content: space-evenly;
    transition: 2s;

}
.nav-list li,.show li{
    list-style: none;
    cursor: pointer;
    padding: 10px;
    border: none;
    font-family: 'Lora', serif;

    
}
@media only screen  and (max-width:890px){
.nav-list{
    display: block;
    height: 0;
    overflow: hidden;
}
.show{
    display: block;
    height: 180px;
    overflow: hidden;
    transition: 2s;

}
.nav-list li:hover{
    border: none;
    background-color: rgb(211, 211, 211);
}
}