@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.logo{
    font-family: 'Josefin Sans', cursive;

    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    font-size: 1em;
}

.bars{
    display: none;
    padding: 20px;
}
@media only screen  and (max-width:1000px){
.logo{
    font-size: .7em;
}
.bars{
    display: block
}

}